/* --------------------
        会社情報        
   -------------------- */

/* --- 登録ページ --- */

.select-box {
  width: 55px;
  padding: 10px 0;
  margin-bottom: 15px;
}

/* --- 詳細ページ --- */

.company-header {
  margin: 0 0 10px 10px;
  font-size: 18px;
}
.company-content {
  width: 1060px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
}
.company-content__left, .company-content__right {
  width: 530px;
  padding: 0 10px;
}
.desc-text {
  padding: 5px 0;
  margin: 15px;
}
.pattern-header {
  margin: 50px 0 10px 10px;
  font-size: 18px;
}
.pattern-content {
  width: 1060px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pattern-list {
  padding: 5px 0;
  margin: 5px 25px;
}
.pattern-list:before {
  content: "・"
}
.pattern-list .btn {
  padding: 7px 10px;
  border-radius: 3px;
  margin: 5px 0 0 5px;
  background: lightgray;
  color: black;
  text-decoration: none;
  display: inline-block;
}