/* --------------------
     スタッフ一覧ページ     
   -------------------- */

.number {
  width: 130px;
}
.name {
  width: 150px;
}
.joining-date {
  width: 130px;
}
.employment-status {
  width: 150px;
}
.salary-system {
  width: 130px;
}

/* --- 責任者情報 --- */

.admin-content {
  display: flex;
}
.admin-content__block {
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}
.admin-content .content-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
}
.admin-content .member-content {
  text-align: center;
  display: flex;
}
.admin-content .btn {
  padding: 7px 10px;
  border-radius: 3px;
  margin: 40px 0 0 5px;
  background: lightgray;
  color: black;
  text-decoration: none;
  display: inline-block;
}

/* --- スタッフ情報 --- */

.employee-content {
  display: flex;
}
.employee-content .member-content{
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}
.employee-content .btn {
  padding: 7px 10px;
  border-radius: 3px;
  margin: 5px 0 0 5px;
  background: lightgray;
  color: black;
  text-decoration: none;
  display: inline-block;
}
