/* ヘッダー */
header {
  height: 70px;
  width: 100%;
  background-color: rgb(212, 243, 255);
}

.header__bar {
  padding: 5px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
}

.grid-1 {
  color: rgb(35, 35, 150);
  margin-bottom: 10px;
}

.text1 {
  color: black;
  margin: 5px;
}

a {
  text-decoration: none;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.lists-left {
  display: flex;
}

.lists-right {
  display: flex;
}




/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}



/* フォーム周り */

/* .field{
  margin: 10px 0;
}

.form__text {
  width: 50%;
} */