/* -------------
      ヘッダー    
   ------------- */

/* header {
  height: 70px;
  width: 100%;
  background-color: #70a9ff;
  background-color: #b3d9ff;
  background-color: #bde9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left a {
  text-decoration: none;
}
.header-left .app-name {
  margin-left: 30px;
  color: #000000;
  font-size: 25px;
} */

/* --- ユーザーメニュー --- */

/* .header-right {
  height: 50px;
  margin-right: 30px;
  top: 25px;
  font-size: 15px;
  display: flex;
  position: relative;
}
.header-right span {
  height: 30px;
  cursor: pointer;
  display: block;
  position: relative;
}
.header-right span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}
.header-right span:hover ul {
  display: block;
}
.header-right ul {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  top: 25px;
  right: 0;
  display: none;
  position: absolute;
}
.header-right ul li {
  width: 120px;
  background-color: #f0f0f0;
}
.header-right ul li a{
  padding: 10px 15px;
  border-bottom: 1px solid #d8d8d8;
  color: #000000;
  text-decoration: none;
  display: block;
}
.header-right ul li:hover a {
  color: #38aef0;
} */


/* -------------
      フッター    
   ------------- */

/* footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
} */
