/* --------------------
      勤務計画ページ        
   -------------------- */

/* --- 検索フォーム --- */

.search {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 0;
}
.input-date-wrap {
  display: flex;
  justify-content: center;
  line-height: 30px;
}

/* --- シフト欄 --- */

.planning-content {
  margin: 130px 40px 30px 0;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.planning-content .member-content {
  background-color: #7fcdd4;
  display: flex;
}
.shift-content {
  background-color: #fff;
  display: flex;
}
.shift-content:nth-child(odd) {
  background-color: #eee;
}
.shift-content .field {
  width: 50px;
}
.date-field {
  height: 30px;
  width: 160px;
  padding-top: 7px;
  border: 1px solid black;
  text-align: center;
}
.name-field {
  height: 30px;
  width: 150px;
  padding-top: 7px;
  border: 1px solid black;
  text-align: center;
}
.input-field {
  height: 30px;
  width: 150px;
  padding-top: 5px;
  border: 1px solid black;
  text-align: center;
}

/* --- エラーメッセージ --- */

.alert {
  height: 30px;
  width: 90%;
  padding: 7px;
  border-radius: 3px;
  margin: 0 auto 10px;
  background-color: #f3c0c0;
  color: #3e3a3a;
  text-align: center;
  z-index: 1;
}