/* --------------------
      出勤パターン        
   -------------------- */

/* --- 登録ページ --- */

.admin, .employee {
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
}
.admin-number, .employee-number {
  padding-bottom: 5px;
}
.admin-name, .employee-name {
  padding-bottom: 5px;
}

/* --- エラーメッセージ --- */

.error-alert {
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 20px;
}
.error-alert h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
.error-alert ul {
  padding-left: 17px;
  margin: 0;
  list-style: square;
}
.error-alert li {
  font-size: 13px;
}