<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <ul class="lists-left">
      <li><%= link_to 'スタッフ一覧', employees_home_path(current_employee) %></li>
      <li><%= link_to '勤務計画閲覧', search_work_schedules_path, class: "text1" %></li>
    </ul>
  </div>

  <div class="content">
    <h2 class="company-name"></h2>

    <div class="team-desc">
    </div>

    <div class="home-contents">
      <div class="home-content">
      </div>

      <div class="home-content">
      </div>

      <div class="home-content">
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>